.datalastic-container .port-selector{
    flex-wrap: nowrap;
}
.coastalynk-port-menu-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap !important;
}
.coastalynk-port-scroll-menu {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 40vw; /* Or adjust to fit your content */
}

.coastalynk-port-scroll-menu a {
    display: inline-block; /* Or block for block-level items */
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #ccc;
}
/* For a specific element */
.coastalynk-port-scroll-menu::-webkit-scrollbar {
    display: none;
}
#coastalynk-port-prev-btn, #coastalynk-port-next-btn{
    padding: 8px 15px;
    background-color: var(--wp--preset--color--logoblue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
/***************************************History Start***************************/

.caostalynk-sts-history-header-buttons > div {
    padding: 3px;
    margin-right: 10px;
}
.caostalynk-sts-history-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#coastalynk-port-sts-history-form{
    background-color: #F2F4F7;
    border-radius: 1px;
    padding: 15px;
    margin: 30px 20px;
    overflow: hidden;
    position: relative; 
}
#coastalynk-port-sts-history-form h2 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 2rem;
}

#coastalynk-port-sts-history-form button {
    background-color: #0088FF;
    color: white;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
.coastalynk-sts-history-buttons {
    padding-left: 10px;
}
input#caostalynk_sts_history_range {
    padding: 6px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 300px;
    max-width: 100%;
}

/***************************************History End***************************/
@media (max-width: 768px) {
    .coastalynk-port-scroll-menu{
        width: unset;
    }
    .caostalynk-sts-history-header-buttons {
        flex-direction: column;
        
    }
}

@media (max-width: 480px) {
    .coastalynk-port-scroll-menu{
        width: unset;
    }
    #coastalynk-port-prev-btn, #coastalynk-port-next-btn{
        display: none;
    }
    .caostalynk-sts-history-header-buttons {
        flex-direction: column;
        
    }
}