
/***************************************History Start***************************/
.coastalynk-sts-table_wrapper {
    margin: 20px 0;
    overflow-x: scroll;
    padding: 0px 20px !important;
}
.coastalynk-popup-approved-zone, .coastalynk-popup-unapproved-zone{
    display: none;
    color: white;
    font-size: 1.75rem;
}
.table-responsive, #coastalynk-sts-table .dt-layout-cell {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.coastalynk-retrieve-draught-btn{
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #0088FF;
    color: white;
    cursor: pointer;
}
#coastalynk-sts-table {
    font-size: 1rem; /* Adjust this value to your preference */
}

/* Or, be more specific to target just the cell data */
#coastalynk-sts-table tbody td {
    font-size: 1rem;
}

/* Optional: Adjust the header font size separately */
#coastalynk-sts-table thead th {
    font-size: 1rem;
    font-weight: bold;
}

.caostalynk-sts-history-header-buttons > div {
    padding: 3px;
    margin-right: 10px;
}
.caostalynk-sts-history-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#coastalynk-port-sts-history-form{
    background-color: #F2F4F7;
    border-radius: 1px;
    padding: 15px;
    margin: 30px 20px;
    overflow: hidden;
    position: relative; 
}
#coastalynk-port-sts-history-form h2 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 2rem;
}

#coastalynk-port-sts-history-form button {
    background-color: #0088FF;
    color: white;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
.coastalynk-sts-history-buttons {
    padding-left: 10px;
}
input#caostalynk_sts_history_range {
    padding: 6px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 300px;
    max-width: 100%;
}
/**********************************Popup************************************/

.coastalynk-sts-popup-content {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--wp--preset--color--logoblue);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 50%;
    height: 96vh;
}

.coastalynk-sts-popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.coastalynk-sts-popup-content h2{
    background-image: url(../images/waves-separator.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 16px;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center
} 
.coastalynk-sts-popup-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#coastalynk-sts-popup-close{
    cursor: pointer;
    background-color: #F2F4F7;
    color: var(--wp--preset--color--text-blue);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 20px;
    height: 20px;
}
.coastalynk-sts-popup-content-box{
    padding-left: 20px;
}
.coastalynk-sts-popup-content-box h3 {
    font-size: 1.375rem;
    color: var(--wp--preset--color--text-blue);
    margin-top: 22px;
    margin-bottom: 7px;
}

.coastalynk-sts-popup-content-box-list span {
    font-size: 0.90rem;
}

.coastalynk-sts-popup-content-box-list {
    list-style: none;
    font-size: 0.90rem;
    padding-left: 22px;
    height: 230px;
    overflow-y: auto;
}
.coastalynk-sts-popup-content-box-list li{
    position: relative; /* Allows positioning of the icon */
    margin-bottom: 0.5em; /* Spacing between list items */
}


#coastalynk-sts-popup-close:hover{
    background-color: #EDF0F4;
    
}
.coastalynk-sts-popup-top-bar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    padding: 20px 0;
}
.coastalynk-sts-popup-top-bar-items  label,.coastalynk-sts-popup-top-bar-items span{
    color:white;
    font-size: 1rem;
    line-height: unset;
    padding-right: 6px;
}

.coastalynk-sts-popup-top-bar-country-flag {
    width: 26px;
}

.coastalynk-sts-popup-content-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    flex-wrap: wrap;
    row-gap: 20px;
}

.coastalynk-sts-popup-content-boxes > div{
    background-color: white;
    flex: 0 0 48.5%;
}
.coastalynk-sts-retrieve-popup-btn, .coastalynk-sts-focus-marker-btn{
    background-color: var(--wp--preset--color--logoblue);
    color: white;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.coastalynk-sts-retrieve-popup-btn:hover, .coastalynk-sts-focus-marker-btn:hover{
    background-color: var(--wp--preset--color--text-blue);
    transition: border 0.4s ease-in;
    cursor: pointer;
}
.coastalynk-sts-popup-top-bar-remarks, .coastalynk-sts-popup-top-bar-remarks span{
    color: white;
    font-size: 1rem;
}
/***************************************History End***************************/
@media (max-width: 768px) {
    
    .caostalynk-sts-history-header-buttons {
        flex-direction: column;
        
    }
}

@media (max-width: 480px) {
   
    .coastalynk-sts-popup-content-boxes{
        overflow-y: scroll;
        height: 80vh;
    }

    .coastalynk-sts-popup-content-boxes > div{
        flex: 0 0 100%;
    }

    .coastalynk-sts-popup-content{
        width: 90%;
        overflow-y: auto;
    }
    .caostalynk-sts-history-header-buttons {
        flex-direction: column;
        
    }
}